<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="Manager" />
            <deny roles="Customer" />
            <deny roles="Instructor" />
            <allow roles="Customer" />
        </authorization>
    </system.web>
</configuration>